<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dispacher</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
</head>
<body>
    
    <div id="app">
        <h1>{{ title }}</h1>
        <div style="display:flex;justify-content:space-evenly">
            <button @click="generate">Click</button>
            <div style="border-radius:10px; background:rgb(167, 177, 232); color:white; padding:10px;" v-for="mot in phrase">
                <div>{{ mot.value }}</div>
                <div>{{ mot.instanceId }}</div> 
            </div>
        </div>
    </div>

    <script src="index.js"></script>

</body>
</html>